.section--background {
    background-image: url('./assets/img/home-top-background.jpg');
}

.header {
    -webkit-box-shadow: inset 0px 58px 15px -9px rgb(0 0 0 / 35%);
    -moz-box-shadow: inset 0px 58px 15px -9px rgb(0 0 0 / 35%);
    box-shadow: inset 0px 58px 15px -9px rgb(0 0 0 / 35%);
}

.header--text-size {
    font-size: 16px;
}

.header--button-search {
    width: 25px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(340deg) brightness(110%) contrast(101%);
}

.card--container {
    background: #48484899;
    color: #fff;
    font-size: 16px;
}

.card--container h1 {
    font-size: 60px;
}

.card--container h2 {
    font-size: 21px;
}

.card__content--button-like {
    background-color: #1cbbb4;
}

.card__content--button-not-like {
    background-color: #ffad1d;
}

.card__content--button-like:hover {
    cursor: pointer;
    background-color: #1a7b77;
}

.card__content--button-not-like:hover {
    cursor: pointer;
    background-color: #b17b1c;
}

.card--container:before {
    content: '';
    filter: blur(20px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.card__content--button-like-icon {
    width: 30px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(340deg) brightness(110%) contrast(101%);
}

.card__content--button-not-like img {
    transform: rotate(180deg);
}



.home__section--closing {
    background-color: #edf2f785;
}

.home__section--closing-left {
    align-self: stretch;
    background: rgb(63,62,84);
    background: linear-gradient(90deg, rgba(63,62,84,0) 0%, rgba(2,0,36,0.2665441176470589) 39%, rgba(167,167,167, 0.50) 100%);
}

.home__section--closing-left::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #a8a8a8;
    display: block;
    left: calc(100% + 4px);
    position: relative;
    top: -13px;
}


.home__section--closing-right {
    background-color: #edf2f785;
}


.home__section--closing-left > .text {
    margin-top: 18px;
    font-size: 13px;
    color: #fff;
}

.home__section--closing-right > .text {
    font-size: 36px;
}

.home__section--message {
    background: #ebebeb;
}

.home__section--message-text1 {
    font-size: 21px;
}

.home__section--message-text2 {
    font-size: 38px;
}



.vote--container {
    background: #48484899;
    color: #fff;
    font-size: 16px;
}

.vote--container h1 {
    font-size: 60px;
}

.vote--container h2 {
    font-size: 21px;
}

.vote__content--button-like {
    background-color: #1cbbb4;
}

.vote__content--button-not-like {
    background-color: #ffad1d;
}

.vote__content--button-like:hover {
    cursor: pointer;
    background-color: #1a7b77;
}

.vote__content--button-not-like:hover {
    cursor: pointer;
    background-color: #b17b1c;
}

.vote--container:before {
    content: '';
    filter: blur(20px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.vote__content--button-like-icon {
    width: 30px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(340deg) brightness(110%) contrast(101%);
}

.vote__content--button-not-like img {
    transform: rotate(180deg);
}